body{
  margin: 0;
  text-align: center;
  font-family: 'Lora', serif;
}

h1{
  margin: 50 auto 0 auto;
  font-size: 5.6rem;
  font-family: 'La Belle Aurore', cursive;
  color: #78b8d8;
}


h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #73c2ea;
}

#pro{
  text-decoration: underline;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #ded473;
}

p{
  color: #6a6969;
}

hr{
  border: none;
  border-top: 8px dotted;
  border-color: #e5f5fd;
  width: 80px;
  margin: 120px auto 120px auto;
}

.top-container{
  background-color: #e5f5fd;
  position: relative;
  padding: 100px 100px 0 100px;
}

.top-cloud{
  position: absolute;
  right: 450px;
  top: 100px;

}

.mountain{
  width: 55%;
  margin-bottom: 0
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 250px;

}

.ami-img{
  width: 20%;
  margin: 100px auto 50px auto;
}

.profile{
  width: 50%;
  margin: 0 auto 50px auto;
}

.skills{
  width: 50%;
  margin: 100px auto;
  line-height: 2;
}

.skill-row{
  margin: 100px auto;
}

.data-img{
  width: 25%;
  float: left;
  margin: 30px;
}

.human-img{
  width: 25%;
  float: right;
  margin-right: 30px;

}

.yoga-img{
  width: 25%;
  float: left;
  margin-left: 30px;
}

.contact-me{
  margin: 100px;
}

.btn{
  display: inline-block;
  background: #ded473;
  padding: 1rem 1.5rem;
  margin: 20px;
  text-decoration: none;
  font-family: 'La Belle Aurore', cursive;
  font-size: 2.5rem;
  text-transform: lowercase;
  color: #3e7591;}

.btn:hover{
  background: #e5f5fd;
}

.bottom-container {
  background-color: #f7fdb1;
  margin-top: 50px;
}

.footer-link{
  padding: 10px;
  text-decoration: none;
  font-family:'Montserrat', sans-serif;
  display: inline-block;
  margin: 20px auto;
  color: #3e7591;
  font-weight: bold;
}
